<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <sitecore.experienceeditor.speak.requests>
     <request name="ExperienceEditor.GenerateFieldEditorUrl" type="SampleProject.Presentation.LaunchSitecore.Configuration.AuthoringExperience.PageEditor.GenerateFieldEditorUrl, SampleProject.Presentation.LaunchSitecore/>
    </sitecore.experienceeditor.speak.requests>
    
  </sitecore>
</configuration>